<!DOCTYPE html>
<html lang="en">
<head>
  {# Global site tag (gtag.js) - Google Analytics #}
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-104321992-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-104321992-1');
  </script>


  <meta charset="UTF-8">
  <meta name="description" content="Welcome to my website!">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="manifest" href="/static/manifest.webmanifest">
  <title>{{ title }} - Ruyi Li</title>

  {# OpenGraph #}
  <meta name="og:title" content="Ruyi Li">
  <meta name="og:description" content="Welcome to my website!">
  <meta name="og:url" content="https://ruyili.ca/">
  <meta name="og:site_name" content="Ruyi Li">
  <meta name="og:locale" content="en_US">
  <meta name="og:type" content="website">
  <meta name="theme-color" content="#58AEFF">
  <meta http-equiv="cache-control" content="max-age=31557600" />

  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <link rel="stylesheet" href="/styles/base.css">
  <script defer src="/static/index.js"></script>
</head>

<body>
  <nav>
    <ul class="left">
      <li>
        <a href="/#about">#about</a>
      </li>
      <li>
        <a href="/#projects">#projects</a>
      </li>
    </ul>

    <ul class="center">
      <li>
        <a id="logo"></a>
      </li>
    </ul>

    <ul class="right">
      <li>
        <a href="/#contact">#contact</a>
      </li>
      <li>
        <a href="/#misc">#miscellaneous</a>
      </li>
    </ul>
  </nav>

  <main>
    {% block content %}
      {{ content | safe }}
    {% endblock %}
  </main>

  <footer>
    <p>Site made with <a href="https://lume.land/">Lume</a>.</p>
  </footer>
</body>
</html>
