body{
    font-family: 'Quattrocento Sans', sans-serif;
    margin: 0;
}

#center{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

hr{
    position: fixed;
    top: 48.5%;
    left: 0;
    width: 100%; 
    height: 1px;
    border: 0;
    background-image: linear-gradient(to right, white, transparent 40%, transparent 60%, white );
}

#kek{
    font-size: 3rem;
    color: #ededed;
}

#footer{
    color: #ededed;
    font-size: 1rem;
    position: fixed;
    bottom: -1.4rem;
    padding: 1rem;
    left: 50%;
    outline: none;
    transform: translate(-50%, 0);
    transition: .1s ease-in-out;
}

#footer:hover{
    bottom: -.5rem;
}

#particles {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(bg.jpg) no-repeat fixed center/cover;
    z-index: -999;
}

#social{
    width: 16rem;
    height: 16rem;
    position: fixed;
    top: calc(50% - 8rem);
    left: calc(50% - 8rem);
    z-index: -1; 
}

#circle{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 1px dashed rgba(255, 255, 255, 0.75);
}

#circle:hover{
    animation: spin 20s infinite linear;
}

@keyframes spin{
    0%{
        transform: rotate(0);
    }100%{
        transform: rotate(360deg);
    }
}

#social a {
    display: block; 
    width: 40px;
    height: 40px;
    border-radius: 100%;
    transition: .2s;
    border: 2px solid white;
}

#social a svg{
    position: relative;
    top: 9px; 
}

#social a:hover{
    border-radius: 25%;
}

#discord { 
    position: fixed;
    top: -2rem; 
    left: calc(8rem + 32px);
}
#discord:hover { border-color: rgb(108, 140, 255); }

#github { 
    position: fixed;
    top: 2.1rem; 
    left: 11.2rem; 
}
#github:hover { border-color: #888888; }

#youtube { 
    position: fixed;
    bottom: -2rem; 
    left: calc(8rem + 32px);
}
#youtube:hover { border-color: rgb(223, 0, 0); }

#twitter { 
    position: fixed;
    bottom: -2rem; 
    right: calc(8rem + 32px); 
}
#twitter:hover { border-color: rgb(88, 174, 255); }

#gmail { 
    position: fixed;
    top: 2.1rem; 
    right: 11.2rem; 
}
#gmail:hover { border-color: rgb(255, 36, 36); }

#npm { 
    position: fixed;
    top: -2rem; 
    right: calc(8rem + 32px);
}
#npm svg{
    top: 3px!important;
}
#npm:hover { border-color: #c12127; }