*{
	font-family: 'Product Sans', Arial, sans-serif;	
}

.bigred{
	width: 70px;
	height: 70px;
	border: none;
	margin-bottom: 10px;
	border-radius: 35px;
	background-color: #FF0000;
	color: white;
	font-size: 20px;
	outline: none;
	cursor: pointer;
  	box-shadow: 0 6px #454545;
	-webkit-transition-duration: .2s;
	-moz-transition-duration: .2s;
        transition-duration: .2s;
}		

.bigred:hover{
	background-color: #D60000;
	cursor: pointer;
}

#specialHThree{
	margin-bottom: 0px;
}

.bigred:active{
  background-color: #D60000;
  box-shadow: 0 3px #454545;
  transform: translateY(3px);
}
		
body{
	background-color: #222930;
}
		
h1{
	font-size: 90px;
	color: whitesmoke;
	letter-spacing: 8px;
}

.row{
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
    height: 200px;
}

.col{
    display: table-cell;
    border: 5px groove black;
    height: 200px;
    vertical-align: middle;
}
		
.col:hover{
    border: 5px groove gray;
}	
		
b{
	font-size: 30px;
	color: #1B1B1B;		
}
		
div{
	text-align: center;		
}

h3{
	font-size: 15px;
	color: #1B1B1B;
}
		
		
#menu{			
	position: fixed;
	top: 0px;		
	right:0px;
	background-image: url('bg.jpg');
	width: 100%;
	height: 60px;
	z-index: 5;
}
		
#titleDiv{
	position: absolute;
	left: 0px;
	background-color: #4EB1BA;
	width: 100%;
	height: 100%;
}


	
#games{ 
	position: absolute;
	top: 100%;
	left: 0px;
	background-color: #E9E9E9;
	width: 100%;
	height: 100%;
}

#other{ 
	position: absolute;
	top: 200%;
	left: 0px;
	background-color: #F1684E;
	width: 100%;
	height: 150%;
}

ul{
	list-style-type: none;
	white-space:nowrap;
	vertical-align: top;
}

li{
	display: inline;
	margin-right: 30px;
}

#meNav{
	float: left;
}

.nava{
	font-size: 25px;
	text-decoration: none;
	color: #E4E4E4;
	display: inline;
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
   transition-duration: .5s;
}

#underlink{
	font-size: 15px;
	text-decoration: none;
	color: #1B1B1B;
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
   transition-duration: .5s;
}

#underlink:hover{
	color: red;
}
		
.nava:hover{
	background-color: #F1684E;
}

h2{
	color: #1B1B1B;
	font-size: 80px;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 2px auto;
  line-height: 1.4;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  cursor: pointer;
}

.rslides li:hover {
  cursor: pointer;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

#gitbtn:hover{
	cursor: pointer;
	width: 60px;
	background-color: white;
	border: 3px solid white;
}

#gitbtn{
	color:black;
	
	background-image:url('GitHub-Mark-32px.png');
	background-color: transparent;
	
	display: inline;
	
	border: none;
	
	background-position: center center;
	background-repeat: no-repeat;
	
	width: 40px;
	height: 40px;
	
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
   transition-duration: .5s;
}

#patbtn:hover{
	cursor: pointer;
	width: 60px;
	background-color: white;
	border: 3px solid white;
}

	
	
#patbtn{
	color:black;
	
	background-image:url('patreon.png');
	background-color: transparent;
	
	display: inline;
	
	border: none;
	
	background-position: center center;
	background-repeat: no-repeat;
	
	width: 40px;
	height: 40px;
	
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
   transition-duration: .5s;
}
		
