body{
	background-color: black;
}

*{
	font-family: 'Product Sans', Arial, sans-serif;
}

.preview-container{
	position: fixed;	
	width: 98%;
	height: 97%;
	display: inline-block;
}

.preview{
	width: 100%;
	height: 100%;
	border: 2px solid #FEFFF8;
	border-bottom-right-radius: 50px;
	background-color: #29241E;
	display: inline-block;
}

.controls{
	width: 30%;
	height: 95%;
	background-image: linear-gradient(90deg, black);
	border: 2px solid #FEFFF8;
	margin: 10px;
	border-bottom-right-radius: 10px;
    text-align: center;
}

p{
    color: #FEFFF8;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 10px;
    margin-bottom: 10px;
}

h1{
    color: #FEFFF8;
    font-size: 25px;
    letter-spacing: 2px;
    padding: 10px; 
}

input[type="text"]{
    border: 1px solid black;
    padding: 5px;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    width: 30%;
    transition-duration: 1s;
}

input[type="text"]:focus{
    width: 35%;
}

button{
    width: 40%;
    height: 5%;
    border: 2px solid black;
    background-color: #D05A00;
    color: black;
    box-shadow: 0px 2px black;
    outline: none;
    text-align: center;
    transition-duration: 100ms;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
}

button:active{
    box-shadow: 0px 0px black;
    transform: translateY(2px);
}

button:hover{
    background-color: #B74F00;
    cursor: pointer;
}

#prev{ 
    position: relative; 
    top: -97%;
    left: 35%;
    width: 60%; 
    height: 60%; 
    background-image: url(transparent.png); 
    border-bottom-right-radius: 10px;
    color: white; 
    text-align: center; 
    text-indent: .1em;
} 

#codeResult{
    width: 60%;
    height: 33%;
    font-size: 15px;
    position: relative;
    font-family: 'Roboto Mono';
    color: black;
    top: -95%;
    left: 35%;
    border: 1px solid black;
    border-bottom-right-radius: 10px;
    resize: none;
}