$white: #ededed;
$black: #181818;
$edel: #8390de;

$primary: $white;
$secondary: $black;
$accent: $edel;

$text: $primary;
$background: $primary;
$page-background: $primary;

$link-gap: 10px;
$page-border-width: calc(5px + 7vw);
$scrollbar-width: $page-border-width;
