:root {
    --discord: #6F85D4;
    --twitter: #1CA6D7;
    --linkedin: #007BB5;
    --white: #ededed;
    --red: #c4302b;
    --black: #181818;
    --devpost: #003e54;
}

::selection {
    background: var(--linkedin);
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #8888886c;
}

::-webkit-scrollbar-thumb:hover {
    background: #888888d7;
}

::-webkit-scrollbar-track {
    background: linear-gradient(to top, #18181883, #18181883), url('../img/bg.jpg');
    background-position: 10px;
}

::-webkit-scrollbar-track:hover {
    background: linear-gradient(to top, #181818a1, #181818a1), url('../img/bg.jpg');
    background-position: 10px;
}

/* Other */

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    background: url('../img/bg.jpg') no-repeat fixed center/cover;
}

div#cover {
    position: fixed;
    top: 0;
    left: 0;
    background: #18181883;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: .2s;
}

a {
    color: var(--white);
}

div#swupBody {
    text-align: center;
}

/* Swup Transitions */

.transition-fade {
    transition: .3s;
    opacity: 1;
}

html.is-animating .transition-fade {
    opacity: 0;
}